
/* #header{
    height: 40px;
    text-align: center;
    background-color: rgb(17, 1, 46);
    color: rgb(155, 239, 253);
    font-size: large;
}
#map{
    height: 850px;
    width: 900%;
    background-color: rgb(176, 174, 179);
    color: #fff;
}
#footer{
    height: 25px;
    text-align: center;
    margin-top: 5px;
    background-color: rgb(17, 1, 46);
    color: rgb(155, 239, 253);
} */
body {
    padding: 0;
    margin: 0;
}

html, body, #mapid {
    height: 98%;
}
#TopBar {
    height: 50px;
    text-align: center;
    font-size: large;
    background-color: rgb(17, 1, 46);
    color: rgb(155, 239, 253);
}

